
page-home {
    
    .chart {
        width: 148;
        height: 148;
        //min-width: height 100px;
        font-size: 12;
      }
    .div{
      width: 148;
      height: 148;
    }

.row-red{
  background: rgba(255, 0, 0, 0.479);  
}


.myCol{
  width: 15cm;
}

.list-red{
background: red;
}
.list-green{
background: green;
}
      .grid-transparent{
        background: transparent;
        
      }

      .grid-green{
        background:rgba(24, 224, 68, 0.63);
      }


      .ion-spinter * {
          width: 28px;
          height: 28px;
          stroke: #444;
          fill: #222;
      }
      .ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #222;
      }
      
      
      
  .ion-list:first-child {
    margin-top: 32px;
  }
  .ion-list + .ion-list {
    margin-top: 0;
    margin-left: 0;
  
  }
  .ion-row{
    margin-left: 0;
  }
  .item-ios{
    background: transparent;
  }
}


.selector {
  //font-family: SFNSDisplay;
  //font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: #000000;
  width: 100% !important;
  max-width: 100% !important;
  justify-content: left;
  margin-top: 10px;
  border: solid 0.1px ;
  background-color: transparent;
  text-align: center;
}
.option {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: black;
  width: 100% !important;
  max-width: 100% !important;
  justify-content: center;
  height: 20px;
}

ion-option .list{
  font-family: SFNSDisplay;
  font-size: 12px !important;
  max-width: 100% !important;
}
.ion-option-items .item{
  font-family: SFNSDisplay;
  font-size: 12px !important;
  max-width: 100% !important;
}
.select-popover {
  font-family: SFNSDisplay !important;
  font-size: 12px !important;
  max-width: 100% !important;
}

