page-home {
    
    .chart {
        width: 100%; 
        min-height: 200px;
      }
      .row {
        margin:0 !important;
      }

      .ion-spinter * {
          width: 28px;
          height: 28px;
          stroke: #444;
          fill: #222;
      }
}

