page-config {
    .text-input-ios {
        margin: 0px 0px 0px 0;
        padding: 0;
        width: calc(100% - 8px);
    }
    .text-input-md {
      margin: 0px 0px;
      padding: 0;
      width: calc(100% - 8px - 8px);
  }
  
  .item-ios{
    background: transparent;
  }
 
  .text-left{
    text-align: left
  }
  .text-center{
    text-align: center
  }
  .text-right{
    text-align: right
  }
  .button-right{
    right: 0;
  } 
  .vAlign {
    padding: 0px;
    border: 0px;
    margin-left: 10px;
    margin-bottom: middle;
    align-content: center;
    vertical-align: middle;
  }
  .vAlignHeader {
    padding: 0px;
    border: 0px;
    margin-bottom: middle;
    align-content: center;
    vertical-align: middle;
  }
  .AlignText{
    margin-top: 5px;
  }
  .togglePosition{
    position: absolute;
  }
}

