page-config {
    .text-input-ios {
        margin: 0px 0px 0px 0;
        padding: 0;
        width: calc(100% - 8px);
    }
    .text-input-md {
      margin: 0px 0px;
      padding: 0;
      width: calc(100% - 8px - 8px);
  }
  
  .item-ios{
    background: transparent;
  }
  
}
