page-welcome {
#welcome{
    background: color($colors, energy);
    h1{
        font-size: 52px;
        margin-top: 50px;
        text-align: center
    }
    .marginTop{
        margin-top:150px;
    }
    h2{
        font-size: 30px;
        margin-top: 20px;
        text-align: center
    }
}
}
